<div ng-controller="AdminController as admin">

<article class="newShoe">
  <h2>New Listing</h2>
  <hr />
  <form ng-submit="admin.addNewShoe(newShoe)" class="newShoe">
    <input type="text" ng-model="newShoe.name" placeholder="Shoe Name">
    <input type="url" ng-model="newShoe.image" placeholder="URL for an image of the shoe">
    <input type="text" ng-model="newShoe.price" placeholder="How much does it cost?">
    <input type="text" ng-model="newShoe.color" placeholder="Color">
    <textarea ng-model="newShoe.description" name="newShoeDescription" id="newShoeDescription" rows="10" placeholder="Description of Shoe"></textarea>
    <button type="submit">Add New Listing</button>
  </form>
</article>
</div>
