<div class="container" ng-controller="AdminController as admin">
  <h2>Product Page</h2>
  <div class="row listingRow">
    <article class="large-4 columns" id="listing" ng-repeat="boots in admin.boot">
      <product name="{{boots.name}}" image="{{boots.image}}" price="{{boots.price}}" color="{{boots.color}}" description="{{boots.description}}"></product>

      <div class="productBtns" ng-controller="CartController as cartCtrl">
        <button ng-click="cartCtrl.addItem(boots)"><i class="fa fa-shopping-cart"></i>Add to Shopping Cart</button>
      </div>
    </article>
  </div>
</div>
