<!--
new listing overlay
<div class="modal modalEffect" id="modalSlit">
  <div class="md-content">
    <article class="newMansion">
      <form ng-submit="mainCtrl.addNewMansion(newMansion)" class="newMansion">
        <input type="text" ng-model="newMansion.name" placeholder="House Name/Address">
        <input type="url" ng-model="newMansion.image" placeholder="URL for an image of the house">
        <input type="text" ng-model="newMansion.price" placeholder="How much does it cost?">
        <textarea ng-model="newMansion.description" name="newMansionDescription" id="newMansionDescription" rows="10" placeholder="Description of Home"></textarea>
        <button type="submit" class="md-close" ng-click="mainCtrl.addListing()">Add New Listing</button>
      </form>
    </article>
  </div>
</div> -->

<div class="container" id="adminPage">
  <h2>Hello admin.</h2>
  <div class="newListingBtn">
    <a class="newProd" href="" ng-click="mainCtrl.newListing()">Create a New Listing</a>
  </div>
  <div class="row listingRow">
    <article class="large-4 columns" id="listing" ng-repeat="mansions in mainCtrl.mansion">
      <h3>{{mansions.name}}</h3>
      <img data-ng-src={{mansions.image}} />
      <p>${{mansions.price}}</p>
      <p>{{mansions.description}}</p>
      <div class="productBtns">
        <button href="" ng-click="on()" ng-class="{active : edit}" ng-hide="showButton()">Edit Product</button>
        <button ng-click="off()" ng-show="showButton()">Save Listing</button>
        <button ng-click="mainCtrl.deleteMansion()">Delete Product</button>
      </div>
      <div class="editListing" ng-show="showButton()">
        <input type="text" ng-model="mansions.name" value="{{mansions.name}}">
        <input type="url" ng-model="mansions.image" value="{{mansions.image}}">
        <input type="text" ng-model="mansions.price" value="{{mansions.price}}">
        <textarea ng-model="mansions.description" name="mansionsDescription" id="mansionsDescription" rows="10" value="{{mansions.description}}"></textarea>
      </div>
    </article>
  </div>
</div>
<!-- <div class="overlay"></div> -->


<!-- overlay JS
<script>
var ModalEffects = (function() {

  function init() {

    var overlay = document.querySelector( '.overlay' );

    [].slice.call( document.querySelectorAll( '.md-trigger' ) ).forEach( function( el, i ) {

      var modal = document.querySelector( '#' + el.getAttribute( 'data-modal' ) ),
        close = modal.querySelector( '.md-close' );

      function removeModal( hasPerspective ) {
        classie.remove( modal, 'md-show' );

        if( hasPerspective ) {
          classie.remove( document.documentElement, 'md-perspective' );
        }
      }

      function removeModalHandler() {
        removeModal( classie.has( el, 'md-setperspective' ) );
      }

      el.addEventListener( 'click', function( ev ) {
        classie.add( modal, 'md-show' );
        overlay.removeEventListener( 'click', removeModalHandler );
        overlay.addEventListener( 'click', removeModalHandler );

        if( classie.has( el, 'md-setperspective' ) ) {
          setTimeout( function() {
            classie.add( document.documentElement, 'md-perspective' );
          }, 25 );
        }
      });

      close.addEventListener( 'click', function( ev ) {
        ev.stopPropagation();
        removeModalHandler();
      });

    } );

  }

  init();

})();
</script>
 -->
