

<article class="newMansion">
  <h2>New Listing</h2>
  <hr />
  <form ng-submit="mainCtrl.addNewMansion(newMansion)" class="newMansion">
    <input type="text" ng-model="newMansion.name" placeholder="House Name/Address">
    <input type="url" ng-model="newMansion.image" placeholder="URL for an image of the house">
    <input type="text" ng-model="newMansion.price" placeholder="How much does it cost?">
    <textarea ng-model="newMansion.description" name="newMansionDescription" id="newMansionDescription" rows="10" placeholder="Description of Home"></textarea>
    <button type="submit">Add New Listing</button>
  </form>
</article>
