/* @mixin transform3d(\$transform3d, \$transform3dv2) {
  transform: \$transform3d, \$transform3dv2;
  -webkit-transform: \$transform3d, \$transform3dv2;
  -o-transform:\$transform3d, \$transform3dv2;
  -moz-transform:\$transform3d, \$transform3dv2;
} */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:before, .clearfix:after {
  display: table;
  content: ''; }

.clearfix:after {
  clear: both; }

.intro {
  position: fixed;
  z-index: 10;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #2a2e39;
  transition: transform 0.6s;
  -webkit-transition: transform 0.6s;
  -o-transition: transform 0.6s;
  -moz-transition: transform 0.6s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -moz-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }

.container--open .intro {
  transform: translate3d(0, -100%, 0) translate3d(0, 250px, 0);
  -webkit-transform: translate3d(0, -100%, 0) translate3d(0, 250px, 0);
  -o-transform: translate3d(0, -100%, 0) translate3d(0, 250px, 0);
  -moz-transform: translate3d(0, -100%, 0) translate3d(0, 250px, 0); }

.intro_image {
  position: absolute;
  bottom: 0;
  min-width: 100%;
  min-height: 120%;
  width: auto;
  height: auto;
  opacity: 0.5;
  background-size: cover;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transition: transform 0.6s, opacity 0.6s;
  -webkit-transition: transform 0.6s, opacity 0.6s;
  -o-transition: transform 0.6s, opacity 0.6s;
  -moz-transition: transform 0.6s, opacity 0.6s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -moz-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }

.container--open .intro_image {
  opacity: 0;
  transform: translate3d(0, 20%, 0);
  -webkit-transform: translate3d(0, 20%, 0);
  -o-transform: translate3d(0, 20%, 0);
  -moz-transform: translate3d(0, 20%, 0); }

.intro_content {
  position: absolute;
  bottom: 0;
  padding: 1.8em;
  width: 100%;
  font-size: 1.15em; }

.intro_title {
  margin: 0 0 20px;
  font-weight: 900;
  font-size: 4em;
  font-family: 'Playfair Display', serif;
  line-height: 1;
  color: antiquewhite; }

.intro_subtitle {
  display: flex;
  justify-content: center;
  color: indianred; }

.intro_description {
  margin: 0 auto 0 1em;
  line-height: 1.2; }

.trigger {
  position: relative;
  -webkit-flex: none;
  flex: none;
  overflow: hidden;
  margin: 0 0 0 20px;
  padding: 0;
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  background: none; }
  .trigger:hover {
    background-color: #bab653; }
  .trigger:active {
    background-color: #bab653; }
  .trigger:focus {
    background-color: #bab653; }

.trigger span {
  position: absolute;
  top: 100%; }

.icon rect, .icon line {
  stroke: #dbdbdb;
  fill: none;
  stroke-width: 2px; }

.icon {
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transition: opacity 0.3s, transform 0.3s;
  -o-transition: opacity 0.3s, transform 0.3s;
  -moz-transition: opacity 0.3s, transform 0.3s;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%; }

.icon--cross, .trigger--active .icon--grid {
  opacity: 0;
  transform: scale3d(0.5, 0.5, 1);
  -webkit-transform: scale3d(0.5, 0.5, 1);
  -o-transform: scale3d(0.5, 0.5, 1);
  -moz-transform: scale3d(0.5, 0.5, 1); }

.trigger--active .icon--cross {
  opacity: 1;
  transform: scale3d(1, 1, 1);
  -webkit-transform: scale3d(1, 1, 1);
  -o-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1); }

.items-wrap {
  position: relative;
  display: flex;
  justify-content: center; }
  .items-wrap::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2a2e39;
    content: '';
    opacity: 1;
    transition: opacity 0.6s;
    -webkit-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -moz-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    pointer-events: none; }

.container--open .items-wrap::after {
  opacity: 0; }

#adminPage {
  margin: 20px; }

.listingRow {
  max-width: 95%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

#listing {
  border: 1px solid black;
  width: 32.5%;
  margin-top: 30px;
  margin-right: 5.5px;
  margin-left: 5.5px; }

button {
  color: #333333;
  font-family: 'Playfair Display', serif; }

.mainBtn {
  margin-top: 20%; }

.newListingBtn {
  font-family: 'Playfair Display', serif;
  margin: 30px 0 30px 0; }

.newProd {
  padding: 18px;
  background-color: indianred;
  color: antiquewhite;
  border: 2px solid antiquewhite;
  font-size: 1.1em; }
  .newProd:hover {
    color: indianred;
    background-color: antiquewhite;
    border: 2px solid indianred;
    transition: all .6s ease;
    -webkit-transition: all .6s ease;
    -o-transition: all .6s ease;
    -moz-transition: all .6s ease; }

ul {
  list-style-type: none; }
