@mixin transition($transition) {
  transition: $transition;
  -webkit-transition: $transition;
  -o-transition:$transition;
  -moz-transition:$transition;
}

@mixin transitionImage($transition1, $transition2) {
  transition: $transition1, $transition2;
  -webkit-transition: $transition1, $transition2;
  -o-transition:$transition1, $transition2;
  -moz-transition:$transition1, $transition2;
}

@mixin transform($transform) {
  transform: $transform;
  -webkit-transform: $transform;
  -o-transform:$transform;
  -moz-transform:$transform;
}

/* @mixin transform3d(\$transform3d, \$transform3dv2) {
  transform: \$transform3d, \$transform3dv2;
  -webkit-transform: \$transform3d, \$transform3dv2;
  -o-transform:\$transform3d, \$transform3dv2;
  -moz-transform:\$transform3d, \$transform3dv2;
} */

@mixin timing($timing) {
  transition-timing-function: $timing;
  -webkit-transition-timing-function: $timing;
  -o-transition-timing-function: $timing;
  -moz-transition-timing-function: $timing;
}

@mixin transformOrigin($transformOrigin) {
  transform-origin: $transformOrigin;
  -webkit-transform-origin: $transformOrigin;
  -o-transform-origin:$transformOrigin;
  -moz-transform-origin:$transformOrigin;
}

$playfair: 'Playfair Display', serif;
